- name: Set path facts.
  set_fact:
    _container_config_path: "/etc/pve/nodes/pve/lxc/{{ item.id | mandatory }}.conf"
    _container_config_tmp_path: "/tmp/{{ item.id | mandatory }}.conf"

- name: Copy config file to tmp destination for manipulation.
  copy:
    src: "{{ _container_config_path }}"
    dest: "{{ _container_config_tmp_path }}"
    remote_src: yes

- name: Modify lxc config
  ini_file:
    path: "{{ _container_config_tmp_path }}"
    owner: root
    group: root
    section: "{{ option.section | default('') }}"
    state: "{{ option.state | default('present') }}"
    # dirty hack to replace "=" against ":"
    option: "{{ option.name }}: {{ option.value }}"
    allow_no_value: true
  register: _config_result
  with_items: "{{ item.options }}"
  loop_control:
    loop_var: option

- name: Copy config file into place. # noqa 503
  command: "cp '{{ _container_config_tmp_path }}' '{{ _container_config_path }}'"
  when: _config_result.changed

- name: Restart container
  block:
  - name: Shutdown container.
    command: "pct shutdown {{ item.id }}"
  - name: Start container.
    command: "pct start {{ item.id }}"
  when: _config_result.changed